@charset "UTF-8";


@font-face{
        font-family:NotoSans-r;
        src:url("${pageContext.request.contextPath}/resources/font/NotoSansCJKkr-Regular.otf");
}

@font-face{
        font-family:NotoSans-b;
        src:url("${pageContext.request.contextPath}/resources/font/NotoSansCJKkr-Bold.otf");
}

     
* {
   box-sizing: border-box;
   font-family: NotoSans-r;
   font-color: #222;
}

body{
    margin: 0;
    font-size: 14px;
    overflow-y:hidden;
    
}

article, aside, figure, footer, header, main, nav, section,div{
    display: block;
}


div,ul,  li, h1, h2, h3, h4, h5, h6, form, p, th, td{
    margin:0;
    padding: 0;
    border:none;
}

ul, li{
        list-style: none;
      }


a{
   text-decoration: none;
   color:#222;
}

span{
	color:#222;
}

.circle-header{
    position: fixed;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}




.header-wrap{
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    padding: 6px 40px;
}

.header-logo{
    position: relative;
    float: left;
    cursor: pointer;
    padding: 10px 0 16px;
}

.mainlogo{
    width: 140px;
    height: 50px;
    display: block;
}
.mainlogo img{
    width: 100%;
    position: relative;
    top: 4px;
}

.sidebar .sidebar-brand{
	position:relative;
}


/* 채팅 탑 메뉴바 css */
.logowrap{
	position:absolute;
	left:0;
	height:70px;
	width:100%;
	background-color:#2196f3;
}

.newline{
	border-right: 1px solid #ececec;
}

.newborder{
	border-bottom:1px solid #ececec;
}

.logo-back {
  width: 50px;
  height:50px;
  background-color:#fff;
  border-radius: 6px;
  position:absolute;
  left:20px;
  top:10px;
}


.chat-img{
  left: 0;
  top: 0;
  width: 80px;
  padding: 12px 10px 9px 14px;
  height: inherit;
  line-height: inherit;
}


.chat-img-bg {
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 33px;
}

.chat-img-bg > div{
  position: absolute;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: #2196f3;
  
}

.chat-img-bg > .fa-comment{
  position: relative;
  font-size: 18px;
  top: 10px;
}

.chat-menu-center{
  vertical-align: middle;
  height: auto;
}

.chat-menu-title{
  position: relative;
  font-size: 18px;
  font-weight:800;
  line-height: 18px;
  margin-bottom:8px;
}

.chat-menu-sub{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.chat-menu-sub .label{
  background-color: #dadfeb;
  border-radius:50px;
}

/* 채팅 탑 메뉴바 css 끝*/

/*오른쪽 메뉴 바*/

.menu-wrap{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9;
  z-index:1000;
}


.menu-con{
  width: 60px;
  height: 100%;
  border-left: 1px solid #dadfeb;
}

.menu-bar{
  position: relative;
  padding: 5px;
  line-height: inherit;
}

.menu-bar  > li{
  margin-bottom: 10px;
  position: relative;
}

.menu-top{
	height:70px;
	border-bottom:1px solid  #ececec;
}

.gnb-btn{
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}


/* 오른쪽 토글 메뉴 */
#gnb-detail-slide {
	height:100%;
	right: 60px;
	top:0;
	position:absolute;
  	z-index:1000;
}


.slide{
	display:none;
	width:400px;
	height:84.3%;
  	background-color:#fff;
  	border-left:1px solid #ececec;
}

.slide-close{
	width:100%;
	height:50px;
/* 	background-color:#eee;	 */
	position:relative;
	right:0;
	
}


.slide-close ul > li{
	height:100%;	
	font-size: 20px;
	line-height:50px;
	font-weight:500;
	width:50px;
	position:absolute;
	text-align:center;
	right:0;
	cursor:pointer;
}

#content{
	position:absolute;
	left:223px;
	right:60px;
	height:100%;
	
}


/*오른쪽 메뉴 바 끝*/

.header-gnb{
    float: right;
    overflow: hidden;
    position: relative;
}


.gnb-menu{
    float: left;
    margin:16px 50px 0 0;
    font-size: 16px;
}

.gnb-menu:first-child > li{
    float: left;
    position: relative;
    margin: 4px 20px 0 20px;
}


.circle-main-content{
     width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #f9f9f9;
}

/* .main-bg{
    position: relative;
    height: 100%;
} */
.main-bg > img{
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background: linear-gradient(#4ac3ee, #6d88d7); */
    
}

.main-title{
    position: absolute;
    z-index: 10;
    display: inline-block;
    text-align: center;
    width: 100%;
    top: 300px;
}

.main-title span{
    color: #333;
    font-family: NotoSans-b;
    font-size: 44px;
    line-height: 1.2;
}

.main-title p{
    color: #666;
    font-size: 16px;
    margin-top: 20px;
    line-height: 28px;

}

.main-btn{
    position: relative;
    z-index: 10;
    top: 50px;
}

.main-btn-bg{
    width: 300px;
    height: 70px;
    border-radius: 16px;
    background-color: #2684fe;
    margin: 0 auto;
    box-shadow: 0 5px 10px 0 #9ce8ff80;
    text-align: center;
    cursor: pointer;
}

.main-btn-bg > a{
    font-size: 24px;
    color: #fff;
    padding: 16px 0 0 0;
    line-height: 70px;
}

.login-btn{
    width: 100px;
    height: 36px;
    background-color: #2684fe;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

.login-btn > a{
    font-family: NotoSans-b;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
}

.signin .signin-text{
	width: 20rem;
    height: 3rem;
    margin: 0.5rem;
}

.signin-submit{
	width: 20%;
	height: 2.5rem;
	margin:1rem
}
.signin-form-group{
	width: 20%;
	margin: auto;
}

.w-400{
	width: 400px;
}

.modify-article{
	margin-top: 10%;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
}
.modify-items{
	margin:1.5rem;
	width : 100%;
	font-size:1.5rem;
	display : flex;
}
.modify-item-name{
	flex:1;
	width:30%;
	padding: 2rem;
	box-sizing:border-box;
	margin: auto;
}
.modify-item-content{
	flex:2;
	width:70%;
	box-sizing:border-box;
	margin: 0px;
	text-align:center;
	padding:2rem;
}
.modify-item-content-button{
	width:100%;
	height:100%;
	border:none;
	display:block;
}

.modify-alert{
	background-color:pink;
	margin:0.5rem;
}

.signup-article{
	margin-top: 10%;
}

#member-profile-img{
	width: 70px;
    height: 70px;
    border-radius: 50px;
}

#vote-creater-img{
	width: 40px;
    height: 40px;
    border-radius: 50px;
}

.member-mypage-img{
	margin: auto;
	margin-left:2rem;
}
.member-profile-button{
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: none;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    border: none;
}
}

.mypage-main-content{
	background-color: #F5F5F5;
    padding: 5rem;
    margin-top:250px;
    margin-left: 15%;
    width: 70%;
    top: 200px;
}

.mypage-div{
	display : flex;
}

.mypage-profile-div{
	flex:1;
	width:30%;
	padding: 2rem;
	box-sizing:border-box;
	margin: auto;
	font-size: 1.5rem;
}
.mypage-name-div{
	flex:2;
	width:70%;
	box-sizing:border-box;
	margin: 0px;
	text-align:left;
	padding:2rem;
	
	font-size:1.5rem;
}
.mypage-team-div{
	flex:1;
	padding: 2rem;
	box-sizing:border-box;
	
	font-size: 1.5rem;
}
.preview-img{
	width: 70px;
    height: 70px;
    border-radius: 50px;
}
.mypage-profile-img-div{
	flex:1;
	width:50%;
	padding: 2rem;
	box-sizing:border-box;
	margin: auto;
	font-size: 1.5rem;
}
.mypage-profile-img-button{
	flex:1;
	width:100%;
}
.mypage-main{
	width: 70%;
    height: 100%;
    margin: 15% auto;
    position: relative;
}
.mypage-team-create{
	width:100%;
	padding:2rem;
}
.mypage-team-create-submit{
	width:100%;
	height:5rem;
}

/*채팅 창 css*/

.chat-wrap{
	height:100%;	
}

.container-fluid{
	padding:0;
}
.chat-send-content{
	bottom: 0;
    width: 100%;
    display :flex;
    background-color: #f9f9f9;
    border:1px solid #ececec;
    position:absolute;
    left:0;
    z-index:50;
}
.chat-send-text{
	width:60%;
	flex:7;
	margin-left: 6rem;
	padding:1rem;
}
.chat-send-button{
	width: 20%;
    flex: 1;
    margin-right: 6rem;
    padding: 1rem;
}
.user-input{
	width: 100%;
    height: 7rem;
}
.send-btn{
	width: 100%;
    height: 100%;
}

#chat-content{
	overflow: auto;
}

#chat-content >div{
	position: relative;
}

#chat-content .msg {
	border-radius:10px;
	background-color: #f8f8f8;
	padding:20px;
	margin-bottom: 20px;	
	max-width: 500px;
	min-heigh: 100px;
}

.message-wrap{
	margin:0 20px;
}

.message{
	height:721px;
	
}
.msg-profile{
	width:50px;
	height:50px;
	border-radius:50%;
	background-color: #f8f8f8;
	border:1px solid #eee;
	float:left;
	margin-right:20px;
}

.msg-con {
	margin-left:80px;
}


/*모달 css*/
#invite-create,
#topic-create{
 cursor: pointer;
border-top:1px solid #eee;
border-bottom: 1px solid #eee;
background-color:#f8f8f8;
 height:40px;
}
#invite-create a,
#topic-create a{
		position:absolute;
      	display:inline-block;
      	line-height:40px;
      	left:55px;
      	
}

	/* 소희 : 멤버초대 모달 화면 디자인 */
   .modal{
            position: fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color:rgba(139, 133, 133, 0.5);
            
            display: none;
        }
        
        .modal > .modal-view{
            position: fixed;
            width:300px;
            height:400px;
            background-color: white;
            border:1px solid; padding:10px;
            /* 가운데 배치 */
            top:50%;
            left:50%;
            margin-left: -150px;
            margin-top: -200px;
                       
        }
        
        /* 소희 : 멤버초대 모달 화면 디자인 */
       .modal2{
            position: fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color:rgba(139, 133, 133, 0.5);
            
            display: none;
        }
        
         .modal2 > .modal-view2{
            position: fixed;
            width:300px;
            height:400px;
            background-color: white;
            border:1px solid; padding:10px;
            /* 가운데 배치 */
            top:50%;
            left:50%;
            margin-left: -150px;
            margin-top: -200px;
                       
        }
        
        
        #membertList{
        position: absolute;
   		 right: 0;
        }
/*모달 css 종료*/

/*드라이브*/
.upload-wrap{
	height:100px;
	border-bottom: 1px solid #ececec;
}

.drmenu{
	position:relative;
	top: 69px;
	border-top: 1px solid #ececec;
}
.drmenu-wrap{
	height:70px;
	background-color:#fff;
}

.fa-times{
	position:relative;
	top:5px;
	right:5px;	
}

.drtop{
	width:100%;
	text-align:center;	
	font-size:20px;
	font-weight:500;
	padding:20px 160px 20px 20px;
}

.drback{
	position:absolute;
	top:0;
	left:0;
	width:70px;
	height:70px;	
	
}

.drback-btn{
	position:absolute;
	top:10px;
	
}


/*파일 리스트*/
.chat-menu-bar{
	max-width:1500px;
}

.flist-wrap{
	width:100%;
	height:100%;
}

.myfolderview,
.folderview,
.fileview{
	height:700px;
	overflow:auto;
	padding: 30px;
}

#ATab{
	overflow:hidden;
}

.page-num{
	width:100%;
	position:relative;
}

.dfpaging{
	margin-top:60px;
}

.upload-box{
	width:240px;
	height:240px;
	border:1px solid #ddd;
	float:left;
	border-radius: 6px;
	margin-right:20px;
	margin-bottom:20px;
}

.upload-wrap-box{
	margin:20px;
	position:relative;
}

.upload-box .img-view{
	width:100px;
	height:120px;
/* 	background-color:#eee; */
	margin:20px auto;
	position:relative;
}

.upload-box .img-view img{
	width:100px;
	position:absolute;
}

.upload-box .text-view{
	margin:32px 20px 0 20px;
}



.upload-box .text-view .checkbox{
	float:left;
}

.folder-title-box{
	width:100%;
	position:relative;
}

.folder-btn{
	marigin-right:0;
	position:absolute;
	right:0;
}

.upload-box .text-view p{
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}


.upload-box .text-view .folder-title{
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	text-align:center;
	font-size:18px;
	font-weight:700;
}

.fileupload-box{
	margin-top:10px;
}



.fupload,
.fdel-btn >a,
.fdel-btn >form{
	float:left;
}

.fdel-btn{
	float:right;
}
.fdel-btn >a{
	float:left;
}

#noReleaseAll,
.myfolder-btn.allfolder,
.myfile-btn.allfile,
.file-choice-delete-btn,
.folderview,
.fileview{
	display: none;
}

.folderview.curr,
.fileview.current{
	display: inherit;
}


.upload-wrap-title{
    float: left;
    margin-right: 20px;
}

.upload-wrap-btn{
	line-height:36px;
}

.upload-wrap-btn > a{
	margin-right:6px;
}

.fileupload-box .fupload{
	float:left;
	position:absolute;
}



.fupload .fileName {
	display:inline-block;
	width:400px;
	height:32px;
	padding-left:10px;
	margin-right:5px;
	border:1px solid #aaa;
	background-color:#fff;
	vertical-align:middle
}

.fupload .btn_file {
	margin-bottom:0;
	background-color:#f5f5f5;
	cursor:pointer;
}

.fdel-btn .file-choice-btn{
	background-color:#f5f5f5;
}

.fupload input[type="file"] {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}

.btn{
	font-size:14px;
}

.text-view .check-box{
	float:left;
}

.text-view .down-delete{
	float:right;
}

.text-view >div{
	margin-top:10px;
}



.flist-wrap .noFile{
	width:100%;
	height:100%;
}

.flist-wrap .noFile>div{
	width:100px;
	height:100px;
	background-color:#f8f8f8;
	margin:0 auto;
	border-radius:50%;
	padding:30px;
	margin-top:180px;
}

.upload-wrap-title .exp-drive{
	font-size:13px;
    margin-top: 20px;
}	
	
.fileupload-box .fdel-btn .myfolder-btn{
	margin-top: 20px;
}	
/*어드민*/
.admin-wrap{
	display:flex;
}

.msg-wrap{
	padding-bottom:40px;
}

.mDashStatus{ -ms-flex:1; flex:1; text-align:center; background:#fff; border-radius:2px;
      -webkit-box-shadow: 0px 2px 1px 0px rgba(205,211,222,1);
      -moz-box-shadow: 0px 2px 1px 0px rgba(205,211,222,1);
      box-shadow: 0px 2px 1px 0px rgba(205,211,222,1);
      -webkit-transition: .2s ease-out; transition: .2s ease-out;
    }
 .admin-card{
 	-webkit-transition: .2s ease-out;
 	text-align: center;
 }
 .admin-card:hover {
 	background:#5ea5fe;
 	color:white;
  }
.admin-cardy{
 	-webkit-transition: .2s ease-out;
 	text-align: center;
 }
 
.admin-card-body{
	margin: auto;
	padding-top:65px;
}
#chat_dummy{
	height: 80px;
	width: 80px;
}
  