@charset "UTF-8";

.list-group-item-action {
  width: 35%;
  color: #495057;
  text-align: inherit;
  align-self: center;
  }
  .list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa; }
  .list-group-item-action:active {
    color: #212529;
    background-color: #e9ecef; }
input::-webkit-input-placeholder {
text-align: center
}
input:-ms-input-placeholder {
text-align: center
}
textarea::-webkit-input-placeholder {
text-align: center
}
textarea:-ms-input-placeholder {
text-align: center
}
