<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="member_profile">
	<select id="profileSequence" resultType="int">
		select member_profile_no_seq.nextval from dual
	</select>
	<insert id="insert" parameterType="memberProfileDto">
		insert into member_profile values(#{member_profile_no},#{member_no},#{member_profile_uploadname},#{member_profile_filesize})
	</insert>
	<select id="getmemberprofile" parameterType="int" resultType="MemberProfileDto">
		select * from member_profile where member_no=#{member_no}
	</select>
</mapper>
