<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- 운영 설정 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="defaultStatementTimeout" value="10000"/>
	</settings>
	
	<!-- 별칭 -->
	<typeAliases>
		<typeAlias type="com.kh.circle.entity.MemberDto" alias="memberDto"/>
		<typeAlias type="com.kh.circle.entity.MemberProfileDto" alias="memberProfileDto"/>
		<typeAlias type="com.kh.circle.entity.TopicDto" alias="topicDto"/>
		<typeAlias type="com.kh.circle.entity.TopicMemberDto" alias="topicMemberDto"/>
		<typeAlias type="com.kh.circle.vo.TopicRestVO" alias="topicRestVo"/>
		<typeAlias type="com.kh.circle.entity.DriveFileDto" alias="driveFileDto"/>
		<typeAlias type="com.kh.circle.vo.DriveFileVO" alias="driveFileVo"/>
		<typeAlias type="com.kh.circle.entity.TeamDto" alias="teamDto"/>
		<typeAlias type="com.kh.circle.entity.TeamMemberDto" alias="teamMemberDto"/>
		<typeAlias type="com.kh.circle.entity.TeamCertDto" alias="TeamCertDto"/>
		<typeAlias type="com.kh.circle.entity.VoteDto" alias="voteDto"/>
		<typeAlias type="com.kh.circle.entity.VoteCategoryDto" alias="voteCategoryDto"/>
		<typeAlias type="com.kh.circle.vo.ChatVo" alias="chatVo"/>
		<typeAlias type="com.kh.circle.entity.VoteSelectionDto" alias="voteSelectionDto"/>
		<typeAlias type="com.kh.circle.entity.VoteCompareDto" alias="voteCompareDto"/>
		<typeAlias type="com.kh.circle.vo.MemberListVO" alias="memberListVO"/>
		<typeAlias type="com.kh.circle.entity.TodoListDto" alias="todoListDto"/>
		<typeAlias type="com.kh.circle.vo.TodoListJoinVO" alias="todoListJoinVO"/>
	</typeAliases>
	
	

</configuration>