<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pay">
	<insert id="ready" parameterType="payDto">
		insert into pay values(
			pay_seq.nextval,
			#{tid},
			#{cid},
			to_date(#{approved_time},'YYYY-MM-DD"T"HH24:MI:SS'),
			#{partner_order_id},
			#{partner_user_id},
			#{item_name},
			#{quantity},
			#{total_amount},
			'준비',
			#{aid},
			#{term},
			#{price},
			#{countAll}
		)
	</insert>
	
	<insert id="success" parameterType="payDto">
		insert into pay values(
			pay_seq.nextval,
			#{tid},
			#{cid},
			to_date(#{approved_time},'YYYY-MM-DD"T"HH24:MI:SS'),
			#{partner_order_id},
			#{partner_user_id},
			#{item_name},
			#{quantity},
			#{total_amount},
			'완료',
			#{aid},
			#{term},
			#{price},
			#{countAll}
		)
	</insert>
	
	<select id="list" resultType="payDto">
		select*from pay order by no asc
	</select>
	
	<select id="get" resultType="payDto" parameterType="Integer">
		select*from pay where no=#{no}
	</select>
	
	<insert id="revoke" parameterType="payDto">
	 			insert into pay values(
					pay_seq.nextval,
					#{tid},
					#{cid},
					to_date(#{approved_time},'YYYY-MM-DD"T"HH24:MI:SS'),
					#{partner_order_id},
					#{partner_user_id},
					#{item_name},
					#{quantity},
					#{total_amount},
					'취소',
					#{aid},
					#{term},
					#{price},
					#{countAll}
		)
	 </insert>
	
	<!-- 팀소유자가 보유한 플랜 옵션별 개수 출력해주기 -->
	<select id="planQty1" parameterType="String" resultType="Integer">
		select sum(quantity) as count_qty from pay where status='완료' and partner_user_id=#{partner_user_id} and item_name='1개월권'
	</select>
	
	<select id="cancelQty1" parameterType="String" resultType="Integer">
		select sum(quantity) as count_qty from pay where status='취소' and partner_user_id=#{partner_user_id} and item_name='1개월권'
	</select>
	
	<select id="planQty6" parameterType="String" resultType="Integer">
		select sum(quantity) as count_qty from pay where status='완료' and partner_user_id=#{partner_user_id} and item_name='6개월권'
	</select>
	
	<select id="cancelQty6" parameterType="String" resultType="Integer">
		select sum(quantity) as count_qty from pay where status='취소' and partner_user_id=#{partner_user_id} and item_name='6개월권'
	</select>
	
	<select id="planQty12" parameterType="String" resultType="Integer">
		select sum(quantity) as count_qty from pay where status='완료' and partner_user_id=#{partner_user_id} and item_name='1년권'
	</select>
	
	<select id="cancelQty12" parameterType="String" resultType="Integer">
		select sum(quantity) as count_qty from pay where status='취소' and partner_user_id=#{partner_user_id} and item_name='1년권'
	</select>
	
	<update id="changeAuth" parameterType="payDto">
		update pay set quantity=quantity-1 where partner_user_id=#{partner_user_id} and item_name=#{item_name} and status='완료'
	</update>
</mapper>