<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="todoList">
	<!-- 할일 겟 시퀀스  -->
	<select id="getSequence" resultType="int">
		select todo_list_no_seq.nextval
		from dual
	</select>
	
	<!-- 할일 추가 하기  -->
	<insert id="todoListCreate" parameterType="todoListDto"> 
		insert into todo_list 
		values(#{todo_list_no},#{topic_no},#{member_no},#{team_no},#{todo_list_content},'진행')
	</insert>
	
	<!-- 개인의 전체 할일 목록 반복문 / 팀 넘버 , 멤버 넘버 기준으로 -->
	<select id="todoPerAll" resultType="todoListJoinVO" parameterType="todoListJoinVO">
		select*from
		(select m.member_name , m.member_email , m.member_no,
		        t.team_no , t.member_position ,
		        todo.todo_list_content, todo.todo_list_no, todo.todo_list_done,
		 topi.topic_name,topi.topic_no
		from member m inner join team_member t
			on m.member_no = t.member_no
				inner join todo_list todo
			on t.team_no = todo.team_no
				inner join topic topi
			on todo.topic_no = topi.topic_no)
		where team_no=#{team_no} and member_no=#{member_no}
		
		order by todo_list_content
	</select>
	
	<!-- 원하는 리스트 삭제 -->
	<delete id="deleteTodo" parameterType="todoListDto">
		delete from todo_list where member_no=#{member_no} and todo_list_no=#{todo_list_no}
	</delete>
	
	<!-- 할일 전체 검색 -->
	<select id="searchTodo" resultType="todoListJoinVO" parameterType="todoListJoinVO">
	select * from
		(select*from
		(select m.member_name , m.member_email , m.member_no,
		        t.team_no , t.member_position ,
		        todo.todo_list_content, todo.todo_list_no,
		 topi.topic_name,topi.topic_no
		from member m inner join team_member t
			on m.member_no = t.member_no
				inner join todo_list todo
			on t.team_no = todo.team_no
				inner join topic topi
			on todo.topic_no = topi.topic_no)
		where team_no=#{team_no} and member_no=#{member_no}
		order by todo_list_content)
		WHERE todo_list_content LIKE '%'||#{todo_list_content}||'%'
	</select>

	<!-- 할일 전체 개수 카운트 -->
	<select id="countTodo" resultType="int" parameterType="todoListJoinVO">
	select count(*) 
	from todo_list 
	where member_no=#{member_no} and team_no=#{team_no} and todo_list_done='진행'
	</select>
	
	
	<!-- 할일 수정하기 -->
	<update id="editTodo" parameterType="todoListJoinVO">
	update todo_list
	set todo_list_content = #{todo_list_content}
	where member_no=#{member_no} and todo_list_no= #{todo_list_no}
	</update>
	
	<!-- 할일 완료로 시키기 -->
	<update id="todoDone" parameterType="todoListJoinVO">
		update todo_list
		set todo_list_done='완료'
		where member_no=#{member_no} and todo_list_no=#{todo_list_no}
	</update>
	
	<!-- 할일 진행으로 되돌리기 -->
	<update id="todoBackDone" parameterType="todoListJoinVO">
	    update todo_list
		set todo_list_done='진행'
		where member_no=#{member_no} and todo_list_no=#{todo_list_no}
	</update>

</mapper>