<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="todoList">
	<!-- 할일 겟 시퀀스  -->
	<select id="getSequence" resultType="int">
		select todo_list_no_seq.nextval
		from dual
	</select>
	
	<!-- 할일 추가 하기  -->
	<insert id="todoListCreate" parameterType="todoListDto"> 
		insert into todo_list 
		values(#{todo_list_no},#{topic_no},#{member_no},#{team_no},#{todo_list_content})
	</insert>
	
	<!-- 개인의 전체 할일 목록 반복문 / 팀 넘버 , 멤버 넘버 기준으로 -->
	<select id="todoPerAll" resultType="todoListJoinVO" parameterType="todoListJoinVO">
	select*from
		(select m.member_name , m.member_email , m.member_no,
		        t.team_no , t.member_position ,
		        todo.todo_list_content, todo.todo_list_no,
		 topi.topic_name,topi.topic_no
		 
		from member m inner join team_member t
			on m.member_no = t.member_no
				inner join todo_list todo 
			on t.team_no = todo.team_no
				inner join topic topi
			on todo.topic_no = topi.topic_no)
			
		where team_no=#{team_no} and member_no=#{member_no}
		
		order by todo_list_no
	</select>

</mapper>