<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vote">
	<insert id="create" parameterType="voteDto">
		insert into vote_create values(#{vote_create_no}, #{vote_create_title}, #{vote_create_detail}, #{vote_create_plural, jdbcType=VARCHAR}, #{vote_create_date}, #{vote_create_status, jdbcType=VARCHAR}, #{vote_create_time}, #{vote_create_topic}, #{vote_create_userno}, #{vote_create_team_no})
	</insert>
	
	<insert id="createCategory" parameterType="voteCategoryDto">
		insert into vote_category values(vote_category_no_seq.nextval, #{vote_create_no}, #{vote_category_content})
	</insert>
	
	<select id="getseq" resultType="java.lang.Integer">
		select vote_create_no_seq.nextval from dual
	</select>
	
	<select id="getTopic" resultType="java.lang.String" parameterType="Integer">
		select t.topic_name from topic t, topic_member tm where t.topic_no=tm.topic_no and member_no=#{member_no}
	</select>
	
	<select id="getVoteList" resultType="voteDto">
		select*from vote_create
	</select>
	
	<select id="getVoteDetail" resultType="voteDto" parameterType="java.lang.Integer">
		select*from vote_create where vote_create_no=#{vote_create_no}
	</select>
	
	<select id="getVoteCategoryDetail" resultType="voteCategoryDto" parameterType="java.lang.Integer">
		select*from vote_category where vote_create_no=#{vote_create_no}
	</select>
	
	<select id="getMemberName" resultType="String" parameterType="java.lang.Integer">
		select member_name from member where member_no=#{member_no}
	</select>
	
	<insert id="selection" parameterType="voteSelectionDto">
		insert into vote_select values(#{member_no}, #{vote_create_no}, #{vote_category_content}, #{vote_select_true}, #{member_name})
	</insert>
	
<!-- 	<insert id="selection" parameterType="map"> -->
<!--         <foreach collection="list" item="item" open="INSERT ALL " close="SELECT * FROM DUAL" >  -->
<!--          into vote_select values(#{item.member_no}, #{item.vote_create_no},  -->
<!--          #{item.vote_category_content}, #{item.vote_select_true}, #{item.member_name}) -->
<!--         </foreach> -->
<!--     </insert> -->
	
	<select id="compare" parameterType="voteCompareDto" resultType="Object">
		select vote_create_userno from vote_create where vote_create_no=#{vote_create_no} and vote_create_userno=#{member_no}
	</select>
	
	<select id="complete" parameterType="voteCompareDto" resultType="String">
		select vote_category_content from vote_select where vote_create_no=#{vote_create_no} and member_no=#{member_no}
	</select>
	
	<update id="close" parameterType="Integer" >
		update vote_create set vote_create_status = 'n' where vote_create_no = #{vote_create_no}
	</update>
	
	<select id="status" parameterType="Integer" resultType="String">
		select vote_create_status from vote_create where vote_create_no=#{vote_create_no}
	</select>
	
	<select id="maxcount" parameterType="Integer" resultType="Object">
		select vote_category_content from(select vote_category_content, count(*) as max_vote_count from vote_select group by vote_category_content, vote_create_no having vote_create_no=#{vote_create_no} order by max_vote_count desc) where rownum=1
	</select> 
	
	<select id="nullcheck" parameterType="Integer" resultType="voteDto">
		select vote_create_no from vote_select where vote_create_no=#{vote_create_no}
	</select>
</mapper>